@model TaskItem

@{
    Layout = null;
}

<div class="row">
    <div class="col-7"> 
        <form method="post" class="form-floating" asp-action=@((Model.TaskId == 0) ? "AddTask" : "UpdateTask")>

            <label type="hidden" asp-for="TaskId"></label>
            <br/>
            <label asp-for="TaskName">Task</label>
            <input asp-for="TaskName"/>
            <br/>
            <label asp-for="DueDate">Due Date</label>
            <input asp-for="DueDate"/>
            <br/>
            <label asp-for="Quadrant">Quadrant</label>
            <input asp-for="Quadrant">
            <br/>
            <select asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
            <br/>
            <label asp-for="Complete">Is the Task Complete</label>
            <select asp-for="Complete">
                <option value="true">yes</option>
                <option value="false">no</option>
            </select>
            <br/>

            <button type="submit">@((Model.TaskId == 0) ? "Add Task" : "Update Task")</button>
            @if (Model.TaskId != 0)
            {
                <a asp-action="DeleteTask" asp-route-taskId="@Model.TaskId">Delete Task</a>
            }

        </form>
    </div>
</div>